<h1>Welcome</h1>
<form class="loginForm" #loginForm="ngForm" (ngSubmit)="onSubmit()">
  <label>Trainer name:</label>
  <input type="text" id="trainer-name"
         name="trainer-name"
         [(ngModel)]="name"
         required
         minlength="3"
         placeholder="Ash"/>
  <button type="submit" class="loginButton" [disabled]="loginForm.invalid"> Add Trainer </button>
</form>
