<section class="pokemon-catalogue-item" (click)="onPokemonClicked()">

    <section>
      <section class="pokemon-catalogue-item__title-section">
        <h2>{{ capitalizedPokemonName(pokemon?.name) }}</h2>
        <img id="caught" *ngIf="pokemon?.caught" src="" alt="Pokeball"> <!-- TODO: må finne en bildefil av en pokeball  -->
      </section>
    </section>
  
    <p>Type: <b>{{pokemon?.types[0].type.name}}</b></p>
  
  </section>
  